In [1]:
pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.6/dist-packages (2.0.0)

In [20]:
from pymongo import MongoClient
from random import randint
import pandas as pd 
import math
import ssl
#Step 1: Connect to MongoDB - Note: Change connection string as needed
client = MongoClient(host=['mongodb+srv://Manpreet:Chahal123@cluster0.mzino.mongodb.net/test'],ssl_cert_reqs=ssl.CERT_NONE,
                     document_class=dict, tz_aware=False, connect=True)
db=client.ReuterDb
print(db)

Database(MongoClient(host=['cluster0-shard-00-01.mzino.mongodb.net:27017', 'cluster0-shard-00-02.mzino.mongodb.net:27017', 'cluster0-shard-00-00.mzino.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-140kfk-shard-0', ssl=True, ssl_cert_reqs=<VerifyMode.CERT_NONE: 0>), 'ReuterDb')

In [21]:
dataList=[]
words=["Canada", "rain", "cold", "hot"]
i=0
news=[]
mycol = db["NewsData"]

In [22]:
for x in mycol.find(): 
    news.append(x["body"])
news=news[:2000]

In [23]:
words=["Canada","rain","hot","cold"]
dataList=[]

In [24]:
import nltk
nltk.download('punkt')
i=0
while(i < len(words)):
  count=0
  for sentence in news:
      if isinstance(sentence, str):
        tokens = nltk.word_tokenize(sentence)
        for token in tokens:
            if token==words[i]:
              count=count+1
              break
  data={
      "Search Query": words[i],
      "Documents containg term": count,
      "Total Documents(N)/ number of documents term appeared":len(news)/count,
      "Log10(N/df)":math.log10( len(news)/count )}
  i=i+1
  dataList.append(data)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [25]:
print(dataList)

[{'Search Query': 'Canada', 'Documents containg term': 57, 'Total Documents(N)/ number of documents term appeared': 35.08771929824562, 'Log10(N/df)': 1.5451551399914898}, {'Search Query': 'rain', 'Documents containg term': 5, 'Total Documents(N)/ number of documents term appeared': 400.0, 'Log10(N/df)': 2.6020599913279625}, {'Search Query': 'hot', 'Documents containg term': 3, 'Total Documents(N)/ number of documents term appeared': 666.6666666666666, 'Log10(N/df)': 2.8239087409443187}, {'Search Query': 'cold', 'Documents containg term': 7, 'Total Documents(N)/ number of documents term appeared': 285.7142857142857, 'Log10(N/df)': 2.4559319556497243}]

In [26]:
df = pd.DataFrame(dataList)

In [27]:
df

  Search Query  ...  Log10(N/df)
0       Canada  ...     1.545155
1         rain  ...     2.602060
2          hot  ...     2.823909
3         cold  ...     2.455932

[4 rows x 4 columns]

In [29]:
df.to_csv('SemanticAnalysis_Step18.csv', index = False)